@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(0, 243, 255, 0.5);
  }

  .box-glow {
    box-shadow: 0 0 20px rgba(0, 243, 255, 0.15);
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bc13fe;
}